body {
    font-family: 'Figtree', sans-serif;
    background-color: #e6f0fa;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
header {
    background-color: rgba(20, 127, 161, 0.87);
    width: 100%;
    padding: 2em 0;
    box-sizing: border-box;
}

h1, h4 {
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding: 0.2em 1em;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

.custom-container {
    width: 100%;
    max-width: 55em;
    margin: 0.5em auto;
    box-sizing: border-box;
}
